body{
	background-color: #ffffff;
}

#header .yellowBox
{
	background-color: #ffcc33;
	padding-bottom: 20px;
}

#header #nav
{
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
}

#nav a{
	text-decoration: none;
	font-weight: bold;
	font-size:125%;
	font-family: Arial;
	padding: 0px 10px 5px 7.5px;
	color: black;
}

#title
{
	background-color: #800000;
	color:white;
	padding: 10px 0px 10px 12.5px;
	font-size:175%;
	font-family: Arial;
	font-weight: bold;
}

#nav input{
	padding-left: 5px;
}

#divider{
	background-color: white;
}

#file-selector{
	background-color: #bfbfbf;
	padding: 12px;
}

select{
	font-family: Arial, sans-serif;
    font-size: 18px;
	font-weight: bold;
	padding:10px;
}

.submitButton {
    background-color: #800000;
    border: 3px solid white;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	font-weight: bold;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.submitButton:hover{
	background-color: #4CAF50; /* Green */
    color: white;
}

#main{
	background-color: #ffd966;
	color: black;
	font-family: Arial, sans-serif;
    font-size: 25px;
	font-weight: bold;
	padding:15px;
}