body{
    background-color: #FDF5E6;
}

#feedback-form-container input[type="text"], select {
    float: right;
    clear: right;
    margin-right: 5%;
    width: 70%;
}

#feedback-form-container textarea {
    display: block;
    //height: 10%;
    width: 100%;
}

#feedback-form-container button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 2px;
}

#feedback-form-container label {
    font-size: 18px;
    text-align: left;

}

#feedback-form-container {
    font-family: "Consolas", Times, serif;
    width: 50%;
    margin: 10px auto;
}

#feedback-form input[type="radio"]{
    display: inline;
    margin-left: 5px;
}

#radio-buttons {
    font-size: 12px;
    display: inline;
    //width: 75%;
    float: right;
    margin-right: 5%;
}

#login-form-body  {
    margin: 0;
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -noz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.login-container {
    width: 500px;
    height: 400px;
    text-align: center;
    background-color:antiquewhite;
    border: 6px solid brown;
    border-radius: 10px;
    border-color: brown;
    margin: 0 auto;
    margin-top: 150px;

}
.login-container img {
    width: 200px;
    height: 200px;
    margin-top: -60px;
    margin-bottom: 30px;
}

.login-container input[type = "text"], input[type = "password"] {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
}

.login-container form-input:before{
    background: url(images/RowanSeal.png);
    content: "\f007";
    position: absolute;
    font-family: "FontAwesome";
    font-size: 30px;
    color:aliceblue;
    padding-top: 5px;
    font-size: 35px;
}

.login-container .btn-login, button {
    padding: 15px 25px;
    color: #fff;
    background-color: brown;
    border: none;
    border-radius: 4px;



}
.login-container a {
    text-decoration:none;
    color: brown;
    font-family: sans-serif;
    margin-bottom: 20px;

}

.login-container a:hover {
    color: coral;
    font-weight: bold;

}

#login-form-body footer {
    margin: 0;
}

#login-form-body footer p {
    float: right;
    margin-right: 20px;
    margin-top: 55px;
    color: blue;
    font-family: sans-serif;
}

#login-form-body .footer-text{
    color: blue;
}

#login-form-body .footer-text:hover {
    color: blue
}

/*Knowledge Base CSS*/
#kb-container{
	margin: auto;
}
#kb-title
{
    background-color: #800000;
    padding: 5px;
    color:white;
    padding: 10px 0px 10px 40px;
    font-size:200%;
    font-family: Arial;
    font-weight: bold;

}

#wrapper{
    display:block;
}

#kb-selection{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #bfbfbf;
    padding: 12px 40px 1px 40px;
    display:block;
}

#kb-selection-component{
    padding: 6px 6px 8px 0px;
}

#kb-department, #kb-course, #kb-file, .settings-dropdown{
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding:5px;
    width:320px;
    text-align: left;
    float: left;
    margin: 0 auto;
}

#selDeptForm{
	display: block;
}

#kb-loadButton {
    background-color: #800000;
    border: 3px solid white;
    color: white;
    padding: .5px 5px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

#kb-name{
    display:block;
    background-color: #ffd966;
    color: black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding:0px 15px 0px 15px;
	margin: auto;
}

#kb-content{
    display:block;
    background-color: #f5f5ef;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding:15px 30px 15px 30px;
}

#kb-footer{
    display:inline-block;
	padding-left: 40px;
}

#header .yellowBox
{
    background-color: #ffd966;
    padding-bottom: 20px;
}

#header #nav
{
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
}

#nav a{
    text-decoration: none;
    font-weight: bold;
    font-size:125%;
    font-family: Arial;
    padding: 0px 10px 5px 7.5px;
    color: black;
}

#title
{
    background-color: #800000;
    color:white;
    padding: 10px 0px 10px 12.5px;
    font-size:175%;
    font-family: Arial;
    font-weight: bold;
}
#nav input{
    padding-left: 5px;
}

#divider{
    background-color: white;
}

#main{
    background-color: #ffd966;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding:15px;
}



#navbar{
    letter-spacing: 1px;
    font-weight: bold;
}


#basic-bar, #tutor-bar, #admin-bar, #login-rowan-bar {
    display: inline-block;
    padding: 5px 0;
    margin-bottom: -6px;
}



#basic-bar {
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-left: 2%;
}

#tutor-bar {
    margin-left: 7%;
    border-left: 2px solid black;

}
#admin-bar {
    border-right: 2px solid black;
}

#login-rowan-bar {
    margin-right: 2%;
    float: right;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#site-footer {    
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

/* -------------- HOME PAGE --------------*/



#home-container {
    display: block;
    margin: 8% auto;
    width: 75%;
}

#home-announce, #home-info {
    display: inline-block;
    width: 45%;
    
}

#home-info {
    text-align: justify;
    font-size: 1.25em;
    line-height: 2em;
    float: left;
    padding: 50px 25px;
}

#home-announce {
    float: right;
    padding: 30px 25px 50px 25px;
}

#home-announce a {
    margin-top: -49px;
    
}

/*------------------------------------------*/






/* -------------- SETTINGS PAGE --------------*/

#settings-page-container {
    text-align: center;
}

.settings-container  {
    min-height: 350px;
    height:auto;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: inline-grid;
}

.settings-dropdown {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding:5px;
    width:320px;
    float:none;
}

.settings-container button {
    margin: 10px;
}
.settings-container input {
    margin: 10px;
}

.settings-container select {
    margin: 10px;
}
/*------------------------------------------*/


.page-header {
    display: block;
    margin-top: 2%;
    padding: 10px;
    width: 100%;
    text-indent: 25px;
}


/* --------------- ABOUT PAGE --------------*/
#about-info {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 25px;
}

#about-info p {
/*    font-size: .75em;*/
    letter-spacing: 1px;
    line-height: 2em;
/*    display: block;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;*/
}
/*------------------------------------------*/